{% if authors is empty%}
    <p> list is empty</p>
{% else %}
        
            {% for author in authors %}
                <p> {{ author.username }} </p>
            {% endfor %}
        
{% endif %}